<div class="container-fluid">
    <div class="row main">
        <div class="col-2 bg-dark text-white">
            <div class="row py-5">
                <p class="h1 text-center">Dashboard</p>
            </div>
            <div class="row">
                <div class="col-12 p-4 option">Inicio</div>
                <div class="col-12 p-4 option">Articulos</div>
                <div class="col-12 p-4 option">Contactos</div>
                <div class="col-12 p-4 option">Configuración</div>
                <div class="col-12 p-4 option">Salir</div>
            </div>
        </div>
        <!-- 3ra -->
        <div class="col-6">
            <div class="row py-4">
                <p class="h1 newPost">Nueva Entrada</p>
            </div>
            <form action="">
                <div class="row mb-3">
                    <div class="col-12">
                        <input class="form-control" type="text" name="title" id="title"
                            placeholder="Titulo de Entrada">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <textarea name="post" id="post" class="form-control" rows="4"
                            placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem perspiciatis mollitia aspernatur dolorum, assumenda quas reprehenderit. Veniam molestias facilis esse tempore dolorum aut fugiat veritatis similique cupiditate, expedita, repellat dicta!"></textarea>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 d-flex justify-content-end">
                        <button class="btn btn-primary">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-4 ">
            <div class="row">
                <!-- Estadisticas -->
                <div class="col">
                    <div class="row pt-5">
                        <div class="h6">Estadisticas</div>
                    </div>
                    <div class="row est mt-3 py-4 rounded">
                        <div class="col d-flex justify-content-evenly mt-2">
                            <p class="h4">98,765</p>
                            <p class="h4">1,234</p>
                            <p class="h4">$6,543</p>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-evenly text-dark ">
                                <p class="h6">Visitas</p>
                                <p class="h6">Registros</p>
                                <p class="h6">Ingresos</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- comentarios -->
                <div class="col-12 ">
                    <div class="row mt-5">
                        <div class=" p h6">Comentarios</div>
                    </div>
                </div>
                <div class="col mt-4 com">
                    <div class="row">
                        <div class="col">
                            <img src="..." alt="...">
                            <div class="h6">John Due</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="col h6"> En Mi Primera Entrada</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="col"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem, sint
                                reiciendis molestias distinctio cupiditate dolore, odit suscipit esse accusamus ex
                                qui quasi porro doloremque dolores blanditiis. Facere sequi voluptates id.</div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12 mt-3 mb-3 ms-3 d-flex align-items-end">
                            <button type="button" class="me-2 btn btn-success">Aprobar</button>
                            <button type="button" class="me-2 btn btn-danger">Eliminar</button>
                            <button type="button" class="me-2 btn btn-outline-secondary">Bloquear</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>